<br><h1>Add Employee</h1><br>
<form (ngSubmit)=onSubmit(f) #f="ngForm">
  <table class="table">
    <tr><td>Name:</td><td><input type="text" class="form-control" name="ename" id="" ngModel></td></tr>
    <tr><td>Designation:</td><td><input type="text" class="form-control" name="edesign" id="" ngModel></td></tr>
    <tr><td>Salary:</td><td><input type="text" class="form-control" name="esal" id="" ngModel></td></tr>
    <tr><td></td><td><input type="submit" class="btn btn-primary" value="Add Employee"></td></tr>
  </table>
</form>
